{% for g in ctx.generations -%}
from .{{ g.root_namespace | snake_case }} import traced_{{ g.root_namespace | snake_case }}
from .models.{{ g.root_namespace | snake_case }}_attributes import {{ g.root_namespace | pascal_case }}Attributes
{%- endfor %}

from .context import capture_context

__all__ = [
{%- for g in ctx.generations %}
    "traced_{{ g.root_namespace | snake_case }}",
    "{{ g.root_namespace | pascal_case }}Attributes",
{%- endfor %}
    "capture_context",
]
